body {
	font-family: sans-serif;
	font-size: 100%;
	margin: 0% 5%;
	background-color: rgb(232, 232, 232);
}

main {
	text-align: center;
	font-size: 150%;
}

#logo {
	float: left;
	height: 80px;
	position: absolute;
	margin: 10px;
	margin-left: 20px;
}

header h1 {
	/*float: right;*/
	font-size: 3em;
	font-family: sans-serif;
	font-variant: small-caps;
	line-height: 100px;
	margin-bottom: 0px;
	text-align: center;
	background-color: white;
	padding-right: 30px;
}

#greet, #greet:hover {
	background-color: white;
	color: rgba(94, 19, 99, 1);
	margin: 0 auto;
	font-size: 60%;
}

nav {
	margin-top: 20px;
	padding: 0px;
	background-color: black;
	line-height: 60px;
}

.nav {
	display: inline-block;
	color: white;
	font-size: 1.5em;
	font-style: bold;
	text-decoration: none;
	width: 100px;
	text-align: center;
}

.nav:hover, #current {
	color: white;
	background-color: rgba(94, 19, 99, 1);
}

a {
	text-decoration: none;
}

footer {
	font-size: .8em;
	font-weight: bold;
}

footer, footer a, footer a:hover {
	background-color: rgba(94, 19, 99, 1);
	color: white
}

footer a:hover {
	text-decoration: underline;
}

footer span {
	cursor: pointer;
}

footer i {
	margin: 5px 20px 5px 20px;
}

footer li {
	list-style: none;
}

#greeting {
	color: rgb();
}